#navigation-9c3078aa-0bfa-1e40-7003-9d333207cd1e {
	text-align: left;
}.rtl #navigation-9c3078aa-0bfa-1e40-7003-9d333207cd1e {
	text-align: right;
}#navigation-9c3078aa-0bfa-1e40-7003-9d333207cd1e li > a {
			
			
		}
		#navigation-9c3078aa-0bfa-1e40-7003-9d333207cd1e li {
			margin: 2px 2px 2px 2px;
		}
		#navigation-9c3078aa-0bfa-1e40-7003-9d333207cd1e li > a {
			font-weight: bold;
			font-style: normal;
			text-decoration: underline;
			padding: 6px 10px 7px 10px;
			border: solid #000000;
			border-width: 0px;
			border-radius: 0;
			box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.5);
		}
		#navigation-9c3078aa-0bfa-1e40-7003-9d333207cd1e ul li {
			margin: 2px 2px 2px 2px;
		}
		#navigation-9c3078aa-0bfa-1e40-7003-9d333207cd1e ul li > a {
			font-weight: bold;
			font-style: normal;
			text-decoration: underline;
			padding: 6px 10px 7px 10px;
			border: solid #000000;
			border-width: 0px;
			border-radius: 0;
			box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.5);
		}
		#navigation-9c3078aa-0bfa-1e40-7003-9d333207cd1e li.selected,
		#navigation-9c3078aa-0bfa-1e40-7003-9d333207cd1e li.childselected,
		#navigation-9c3078aa-0bfa-1e40-7003-9d333207cd1e li.selected:hover,
		#navigation-9c3078aa-0bfa-1e40-7003-9d333207cd1e li.childselected:hover,
		#navigation-9c3078aa-0bfa-1e40-7003-9d333207cd1e li:hover {
			margin: 2px 2px 2px 2px;
		}
		#navigation-9c3078aa-0bfa-1e40-7003-9d333207cd1e li.selected > a,
		#navigation-9c3078aa-0bfa-1e40-7003-9d333207cd1e li.childselected > a,
		#navigation-9c3078aa-0bfa-1e40-7003-9d333207cd1e li.selected:hover > a,
		#navigation-9c3078aa-0bfa-1e40-7003-9d333207cd1e li.childselected:hover > a,
		#navigation-9c3078aa-0bfa-1e40-7003-9d333207cd1e li:hover > a {
			padding: 6px 10px 7px 10px;
			border: solid #000000;
			border-width: 0px;
			border-radius: 0;
			box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.5);
		}
		#navigation-9c3078aa-0bfa-1e40-7003-9d333207cd1e ul li.selected,
		#navigation-9c3078aa-0bfa-1e40-7003-9d333207cd1e ul li.childselected,
		#navigation-9c3078aa-0bfa-1e40-7003-9d333207cd1e ul li.selected:hover,
		#navigation-9c3078aa-0bfa-1e40-7003-9d333207cd1e ul li.childselected:hover,
		#navigation-9c3078aa-0bfa-1e40-7003-9d333207cd1e ul li:hover {
			margin: 2px 2px 2px 2px;
		}
		#navigation-9c3078aa-0bfa-1e40-7003-9d333207cd1e ul li.selected > a,
		#navigation-9c3078aa-0bfa-1e40-7003-9d333207cd1e ul li.childselected > a,
		#navigation-9c3078aa-0bfa-1e40-7003-9d333207cd1e ul li.selected:hover > a,
		#navigation-9c3078aa-0bfa-1e40-7003-9d333207cd1e ul li.childselected:hover > a,
		#navigation-9c3078aa-0bfa-1e40-7003-9d333207cd1e ul li:hover > a {
			padding: 6px 10px 7px 10px;
		}

		#navigation-9c3078aa-0bfa-1e40-7003-9d333207cd1e > li.normal > a { color: #FFFFFF;}
		#navigation-9c3078aa-0bfa-1e40-7003-9d333207cd1e > li.normal > a { background-color: #63B6EE; } #navigation-9c3078aa-0bfa-1e40-7003-9d333207cd1e > li.normal > a { background-image: none; }
		#navigation-9c3078aa-0bfa-1e40-7003-9d333207cd1e li.selected > a, #navigation-9c3078aa-0bfa-1e40-7003-9d333207cd1e li.childselected > a { color: #e2f5f4; }
		#navigation-9c3078aa-0bfa-1e40-7003-9d333207cd1e ul > li.normal > a { color: #FFFFFF; }#navigation-9c3078aa-0bfa-1e40-7003-9d333207cd1e ul > li.normal > a { background-image: none; }
		#navigation-9c3078aa-0bfa-1e40-7003-9d333207cd1e ul > li.normal > a { background-color: #63B6EE; }
		#navigation-9c3078aa-0bfa-1e40-7003-9d333207cd1e li.selected > a, #navigation-9c3078aa-0bfa-1e40-7003-9d333207cd1e li.childselected > a, #navigation-9c3078aa-0bfa-1e40-7003-9d333207cd1e ul > li.childselected > a { background-color: #63B6EE; }
		#navigation-9c3078aa-0bfa-1e40-7003-9d333207cd1e li.normal:hover > a { color: #e2f5f4; }
		#navigation-9c3078aa-0bfa-1e40-7003-9d333207cd1e li.normal:hover > a { background-color: #63B6EE; } #navigation-9c3078aa-0bfa-1e40-7003-9d333207cd1e li.selected > a, #navigation-9c3078aa-0bfa-1e40-7003-9d333207cd1e li.childselected > a, #navigation-9c3078aa-0bfa-1e40-7003-9d333207cd1e li.normal:hover > a { background-image: none; }
		.mobile-view #navigation-9c3078aa-0bfa-1e40-7003-9d333207cd1e li.selected > a,
		.mobile-view #navigation-9c3078aa-0bfa-1e40-7003-9d333207cd1e li.childselected > a { color: #e2f5f4; }.mobile-view #navigation-9c3078aa-0bfa-1e40-7003-9d333207cd1e li.selected > a,
		.mobile-view #navigation-9c3078aa-0bfa-1e40-7003-9d333207cd1e li.childselected > a { background-color: transparent; }.mobile-view #navigation-9c3078aa-0bfa-1e40-7003-9d333207cd1e li:hover > a { color: #e2f5f4; }.mobile-view #navigation-9c3078aa-0bfa-1e40-7003-9d333207cd1e li:hover > a { background-color: transparent; }.mobile-view #navigation-9c3078aa-0bfa-1e40-7003-9d333207cd1e ul > li > a { color: #FFFFFF; }.mobile-view #navigation-9c3078aa-0bfa-1e40-7003-9d333207cd1e ul > li > a { background-color: transparent; }